.header_container {
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 414px;
}

.header_container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 90%;
}

.header_container nav div {
    display: flex;
    justify-content: center;
}

.header_container nav img {
    width: 250px;
    margin: auto;
}

.header_container nav ul {
    display: flex;
    list-style-type: none;
}

.header_container nav ul a {
    text-decoration: none;
    margin: 0 5px 0 5px;
    color: #f5f5f5;

}

.header_container nav ul a:hover {
    color: var(--bg-dark-secondary);
}



@media (min-width: 769px) {
    .header_container {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header_container nav {
        flex-direction: row;
        justify-content: space-between;
        width: 56.25%;

    }
}